<% provide(:header_title, "Dedicated Hosting")%>
<% provide(:header_desc, "Experience the power and reliability of ODV Cloud's dedicated hosting—tailored for businesses that demand top performance, security, and expert support.")%>
        <!-- pricing-section -->
        <section class="pricing-section p-tb-100">
            <div class="container">
                <div class="section-title section-title-two">
                    <h2>Servers price & plans</h2>
                    <p>Discover our flexible dedicated server plans designed for businesses of all sizes. Enjoy transparent pricing, instant deployment, and robust resources to power your mission-critical applications.</p>
                </div>
                <!-- Style for "pricing-item-amount" and "th-head" classes also available for this table. Just use these classes and add margin/padding as needed.  -->
                <div class="pricing-hosting-table">
                    <table>
                        <thead>
                            <tr>
                                <th>
                                    <div class="pricing-header-title">
                                        <div class="pricing-header-title-text">Specifications</div>
                                    </div>
                                </th>
                                <th>
                                    Storage
                                </th>
                                <th>
                                    RAM
                                </th>
                                <th>
                                    Transfer
                                </th>
                                <th>
                                    Price
                                </th>
                                <th>
                                    Deploy
                                </th>
                                <th>
                                    Order
                                </th>
                            </tr>
                        </thead>
                        <!-- Inside the tbody, there are some classes which are very important for the styling of td. 1. td-list-name: which is used for left-aligned text and indicate the title of the table row. 2. td-check: which is used for the check icon with blue color. 3. td-cancel: which is used for the cross icon with orange color. 4. td-blank: which is used for the blank space of td. 5. td-orange: which is used for the orange color. "td-check", "td-cancel" and "td-blank" classes are currently not available in this table but in the CSS, styles are availble. Just add with their require HTML elements and enjoy. -->
                        <tbody>
                            <tr>
                                <td class="td-list-name td-bg">E3-1240V5 v1.3GHz (4 Cores + NG)</td>
                                <td>150 TB</td>
                                <td>4 GB</td>
                                <td>3 TB</td>
                                <td class="td-orange">$103</td>
                                <td>Immediate</td>
                                <td class="td-orange"><a href="/users/sign_up" class="btn btn-gradient">Order Now</a></td>
                            </tr>
                            <tr>
                                <td class="td-list-name td-bg">E4-1240V5 v2.3GHz (4 Cores + HG)</td>
                                <td>320 GB</td>
                                <td>8 GB</td>
                                <td>5 TB</td>
                                <td class="td-orange">$135</td>
                                <td>Immediate</td>
                                <td class="td-orange"><a href="/users/sign_up" class="btn btn-gradient">Order Now</a></td>
                            </tr>
                            <tr>
                                <td class="td-list-name td-bg">E7-5698V4 v3.2GHz (4 Cores + KN)</td>
                                <td>320 GB</td>
                                <td>8 GB</td>
                                <td>Unlimited</td>
                                <td class="td-orange">$145</td>
                                <td>Immediate</td>
                                <td><del>Stock Out</del></td>
                            </tr>
                            <tr>
                                <td class="td-list-name td-bg">E2-5568V5 v2.3GHz (4 Cores + RM)</td>
                                <td>420 GB</td>
                                <td>8 GB</td>
                                <td>Unlimited</td>
                                <td class="td-orange">$155</td>
                                <td>Immediate</td>
                                <td class="td-orange"><a href="/users/sign_up" class="btn btn-gradient">Order Now</a></td>
                            </tr>
                            <tr>
                                <td class="td-list-name td-bg">E6-7456V5 v1.3GHz (8 Cores + LF)</td>
                                <td>512 GB</td>
                                <td>12 GB</td>
                                <td>Unlimited</td>
                                <td class="td-orange">$270</td>
                                <td>Immediate</td>
                                <td class="td-orange"><a href="/users/sign_up" class="btn btn-gradient">Order Now</a></td>
                            </tr>
                            <tr>
                                <td class="td-list-name td-bg">R6-3324V5 v2.3GHz (8 Cores + HJ)</td>
                                <td>512 GB</td>
                                <td>16 GB</td>
                                <td>Unlimited</td>
                                <td class="td-orange">$290</td>
                                <td>Immediate</td>
                                <td class="td-orange"><a href="/users/sign_up" class="btn btn-gradient">Order Now</a></td>
                            </tr>
                            <tr>
                                <td class="td-list-name td-bg">P8-66789V5 v2.3GHz (8 Cores + NG)</td>
                                <td>1 TB</td>
                                <td>16 GB</td>
                                <td>Unlimited</td>
                                <td class="td-orange">$330</td>
                                <td>Immediate</td>
                                <td><del>Stock Out</del></td>
                            </tr>
                            <tr>
                                <td class="td-list-name td-bg">T6-4432 v3.3GHz (8 Cores + HT)</td>
                                <td>1.5 TB</td>
                                <td>16 GB</td>
                                <td>Unlimited</td>
                                <td class="td-orange">$345</td>
                                <td>Immediate</td>
                                <td class="td-orange"><a href="/users/sign_up" class="btn btn-gradient">Order Now</a></td>
                            </tr>
                            <tr>
                                <td class="td-list-name td-bg">E3-4567VG v2.1GHz (8 Cores + HP)</td>
                                <td>2 TB</td>
                                <td>24 GB</td>
                                <td>Unlimited</td>
                                <td class="td-orange">$420</td>
                                <td>Immediate</td>
                                <td class="td-orange"><a href="/users/sign_up" class="btn btn-gradient">Order Now</a></td>
                            </tr>
                            <tr>
                                <td class="td-list-name td-bg">D9-1170V5 v2.3GHz (12 Cores + RT)</td>
                                <td>3 TB</td>
                                <td>24 GB</td>
                                <td>Unlimited</td>
                                <td class="td-orange">$440</td>
                                <td>Immediate</td>
                                <td><del>Stock Out</del></td>
                            </tr>
                            <tr>
                                <td class="td-list-name td-bg">T7-3324V5 v1.2GHz (12 Cores + NG)</td>
                                <td>4 TB</td>
                                <td>16 GB</td>
                                <td>Unlimited</td>
                                <td class="td-orange">$640</td>
                                <td>Immediate</td>
                                <td class="td-orange"><a href="/users/sign_up" class="btn btn-gradient">Order Now</a></td>
                            </tr>
                            <tr>
                                <td class="td-list-name td-bg">E3-5564V5 v2.3GHz (3 Cores + LP)</td>
                                <td>8 TB</td>
                                <td>32 GB</td>
                                <td>Unlimited</td>
                                <td class="td-orange">$780.45</td>
                                <td>Immediate</td>
                                <td class="td-orange"><a href="/users/sign_up" class="btn btn-gradient">Order Now</a></td>
                            </tr>
                            <tr>
                                <td class="td-list-name td-bg">HGR-HCI-i1 v1.4GHz (12 Cores + GM)</td>
                                <td>10 TB</td>
                                <td>32 GB</td>
                                <td>Unlimited</td>
                                <td class="td-orange">$831.41</td>
                                <td>Immediate</td>
                                <td class="td-orange"><a href="/users/sign_up" class="btn btn-gradient">Order Now</a></td>
                            </tr>
                            <tr>
                                <td class="td-list-name td-bg">HGR-HCI-i2 v2.3GHz (12 Cores + LJ)</td>
                                <td>20 TB</td>
                                <td>128 GB</td>
                                <td>Unlimited</td>
                                <td class="td-orange">$1999.99</td>
                                <td>Immediate</td>
                                <td><del>Stock Out</del></td>
                            </tr>
                            <tr>
                                <td class="td-list-name td-bg">HGR-HCI-i3 v2.1GHz (20 Cores + GM)</td>
                                <td>45 TB</td>
                                <td>128 GB</td>
                                <td>Unlimited</td>
                                <td class="td-orange">$1345</td>
                                <td>Immediate</td>
                                <td class="td-orange"><a href="/users/sign_up" class="btn btn-gradient">Order Now</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
        <!-- .end pricing-section -->
        <!-- choose-section -->
        <section class="choose-section pt-100 pb-70 blue-gradient-with-opacity">
            <div class="container">
                <div class="section-title section-title-two">
                    <small>Why best</small>
                    <h2>Why choose us</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis </p>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-4">
                        <div class="box-card fluid-height">
                            <div class="box-card-inner box-card-inner-2 box-card-white-hover full-height border-around">
                                <div class="box-number"><span>01</span></div>
                                <div class="box-card-content text-center">
                                    <div class="box-card-thumb">
                                        <%= image_tag 'choose-1.png', alt: 'choose-us' %>
                                    </div>
                                    <div class="box-card-details">
                                        <h3>Dedicated support</h3>
                                        <p>Our expert team is available 24/7 to assist you with setup, migration, and ongoing management, ensuring your dedicated server runs smoothly at all times.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-4">
                        <div class="box-card fluid-height">
                            <div class="box-card-inner box-card-inner-2 box-card-white-hover full-height border-around">
                                <div class="box-number"><span>02</span></div>
                                <div class="box-card-content text-center">
                                    <div class="box-card-thumb">
                                        <%= image_tag 'choose-2.png', alt: 'choose-us' %>
                                    </div>
                                    <div class="box-card-details">
                                        <h3>Data security</h3>
                                        <p>Benefit from advanced security protocols, DDoS protection, and continuous monitoring to keep your data and applications safe from threats.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-4 offset-md-3 offset-lg-0">
                        <div class="box-card fluid-height">
                            <div class="box-card-inner box-card-inner-2 box-card-white-hover full-height border-around">
                                <div class="box-number"><span>03</span></div>
                                <div class="box-card-content text-center">
                                    <div class="box-card-thumb">
                                        <%= image_tag 'choose-3.png', alt: 'choose-us' %>
                                    </div>
                                    <div class="box-card-details">
                                        <h3>Data migration</h3>
                                        <p>We offer free, seamless migration to ODV Cloud, handled by professionals for zero downtime and no data loss—so you can focus on your business.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- .end choose-section -->
        <!-- feature-section -->
        <section class="feature-section pt-100 pb-70">
            <div class="container">
                <div class="section-title section-title-two">
                    <small>We offers</small>
                    <h2>Hosting features</h2>
                    <p>Unlock advanced capabilities with ODV Cloud's dedicated hosting features—enjoy full control, enhanced security, and powerful tools designed to maximize your website's performance and reliability.</p>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-lg-6">
                        <div class="feature-item feature-item-2 fluid-height">
                            <div class="feature-item-inner full-height bg-white">
                                <div class="feature-item-thumb feature-item-thumb-round bg-off-hard-gradient">
                                    <%= image_tag 'feature-icon-1.png', alt: 'cloud' %>
                                </div>
                                <div class="feature-item-content">
                                    <h3>Personalized Email Service</h3>
                                    <p>Create custom email addresses for your domain, enhancing your brand's professionalism and communication with reliable, secure email hosting.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-6">
                        <div class="feature-item feature-item-2 fluid-height">
                            <div class="feature-item-inner full-height bg-white">
                                <div class="feature-item-thumb feature-item-thumb-round bg-off-hard-gradient">
                                    <%= image_tag 'feature-icon-2.png', alt: 'cloud' %>
                                </div>
                                <div class="feature-item-content">
                                    <h3>WordPress & cPanel</h3>
                                    <p>Manage your websites effortlessly with one-click WordPress installs and the industry-leading cPanel dashboard for full control.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-6">
                        <div class="feature-item feature-item-2 fluid-height">
                            <div class="feature-item-inner full-height bg-white">
                                <div class="feature-item-thumb feature-item-thumb-round bg-off-hard-gradient">
                                    <%= image_tag 'feature-icon-3.png', alt: 'cloud' %>
                                </div>
                                <div class="feature-item-content">
                                    <h3>Free SSL Certificates</h3>
                                    <p>Secure your websites and boost customer trust with free SSL certificates included in every dedicated hosting plan.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-6">
                        <div class="feature-item feature-item-2 fluid-height">
                            <div class="feature-item-inner full-height bg-white">
                                <div class="feature-item-thumb feature-item-thumb-round bg-off-hard-gradient">
                                    <%= image_tag 'feature-icon-4.png', alt: 'cloud' %>
                                </div>
                                <div class="feature-item-content">
                                    <h3>LiteSpeed Web Server</h3>
                                    <p>Experience lightning-fast website performance and reliability with LiteSpeed, the world's fastest web server technology.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-6">
                        <div class="feature-item feature-item-2 fluid-height">
                            <div class="feature-item-inner full-height bg-white">
                                <div class="feature-item-thumb feature-item-thumb-round bg-off-hard-gradient">
                                    <%= image_tag 'feature-icon-5.png', alt: 'cloud' %>
                                </div>
                                <div class="feature-item-content">
                                    <h3>PHP Selector</h3>
                                    <p>Choose the PHP version that best suits your application for maximum compatibility and performance.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-6">
                        <div class="feature-item feature-item-2 fluid-height">
                            <div class="feature-item-inner full-height bg-white">
                                <div class="feature-item-thumb feature-item-thumb-round bg-off-hard-gradient">
                                    <%= image_tag 'feature-icon-6.png', alt: 'cloud' %>
                                </div>
                                <div class="feature-item-content">
                                    <h3>No Multi-Tenancy</h3>
                                    <p>Enjoy dedicated resources and enhanced security—your server environment is never shared with unknown users.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- .end feature-section -->
        <!-- testimonial-section -->
        <section class="testimonial-section pt-100 blue-gradient-with-opacity">
            <div class="container">
                <div class="section-title section-title-two">
                    <small>Testimonials</small>
                    <h2>What clients are saying</h2>
                </div>
                <div class="client-carousel-content">
                    <div class="client-carousel owl-carousel owl-theme">
                        <div class="item">
                            <div class="row align-items-end">
                                <div class="col-sm-12 col-md-12 col-lg-5">
                                    <div class="client-image">
                                        <%= image_tag 'slider-1.png', alt: 'client' %>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-6 pb-100">
                                    <div class="client-carousel-details text-center text-lg-start">
                                        <p class="client-carousel-para">ODV Cloud's dedicated hosting has given us unmatched performance and peace of mind. Their support team is always responsive and knowledgeable!</p>
                                        <h3 class="client-carousel-name">Devit m. kotlin</h3>
                                        <h4 class="client-carousel-designation">CEO & Founder</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row align-items-end">
                                <div class="col-sm-12 col-md-12 col-lg-5">
                                    <div class="client-image">
                                        <%= image_tag 'slider-2.png', alt: 'client' %>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-6 pb-100">
                                    <div class="client-carousel-details text-center text-lg-start">
                                        <p class="client-carousel-para">We migrated to ODV Cloud for their security and reliability. Our business has never run smoother, and the migration was seamless.</p>
                                        <h3 class="client-carousel-name">Alexa Disuza</h3>
                                        <h4 class="client-carousel-designation">CTO & Manager</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- .end testimonial-section -->
        <!-- faq-section -->
        <section class="faq-section pt-100 pb-70">
            <div class="container">
                <div class="section-title section-title-two">
                    <h2>What Would You Like To Know?</h2>
                </div>
                <div class="row align-items-center">
                    <div class="col-sm-12 col-md-12 col-lg-5 pb-30">
                        <div class="faq-accordion">
                            <!-- item goes here -->
                            <div class="faq-accordion-item faq-accordion-item-active"> <!-- Use "faq-accordion-item-active" class for toggle accordion -->
                                <div class="faq-accordion-header">
                                    <h3 class="faq-accordion-title">What Is Dedicated Hosting?</h3>
                                </div>
                                <div class="faq-accordion-body">
                                    <div class="faq-accordion-body-inner">
                                        <p class="faq-accordion-para">Dedicated hosting provides you with exclusive access to all the resources of a physical server, ensuring maximum performance, security, and control for your website or application.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="faq-accordion-item">
                                <div class="faq-accordion-header">
                                    <h3 class="faq-accordion-title">Does the price grow up with sharing?</h3>
                                    <div class="faq-accordion-header-overlay"></div>
                                </div>
                                <div class="faq-accordion-body">
                                    <div class="faq-accordion-body-inner">
                                        <p class="faq-accordion-para">No, our pricing remains transparent and competitive, regardless of how you choose to share or allocate your resources. We believe in fair, predictable costs for all our clients.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="faq-accordion-item">
                                <div class="faq-accordion-header">
                                    <h3 class="faq-accordion-title">What access do I have on a free trial?</h3>
                                    <div class="faq-accordion-header-overlay"></div>
                                </div>
                                <div class="faq-accordion-body">
                                    <div class="faq-accordion-body-inner">
                                        <p class="faq-accordion-para">During your free trial, you have full access to our platform's features, allowing you to explore our services and experience the ODV Cloud difference before making a commitment.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="faq-accordion-item">
                                <div class="faq-accordion-header">
                                    <h3 class="faq-accordion-title">What access do I have on the free plan?</h3>
                                    <div class="faq-accordion-header-overlay"></div>
                                </div>
                                <div class="faq-accordion-body">
                                    <div class="faq-accordion-body-inner">
                                        <p class="faq-accordion-para">With our free plan, you can access essential hosting features and support, making it easy to get started and scale as your needs grow.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-6 offset-lg-1 pb-30">
                        <div class="about-content-image">
                            <%= image_tag 'faq.png', alt: 'faq' %>
                        </div>
                    </div>
                </div>
            </div>
        </section>