<% provide(:header_title, "VPS Hosting")%>
<% provide(:header_desc, "ODV Cloud's VPS hosting delivers scalable resources, dedicated performance, and full control—ideal for businesses and developers who need flexibility and power for their online projects.")%>       
        <!-- pricing-section -->
        <section class="pricing-section pt-100 pb-70">
            <div class="container">
                <div class="section-title section-title-two">
                    <h2>Price & plans</h2>
                    <p>Explore our flexible VPS hosting plans designed to meet the needs of growing businesses, developers, and high-traffic websites. Enjoy dedicated resources, enhanced security, and full root access for complete control.</p>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-3">
                        <div class="pricing-item pricing-item-two">
                            <div class="pricing-secondary-header">
                                <div class="pricing-header-title">
                                    <h3 class="pricing-header-title-text">Regular</h3>
                                    <p>Perfect for small projects and personal websites that need reliable performance and easy management.</p>
                                </div>
                                <div class="pricing-item-amount">
                                    <p>Starting at</p>
                                    <h4 class="pricing-item-amount-number"><small>$</small>5.99<span>/Month</span></h4>
                                </div>
                            </div>
                            <div class="pricing-item-body">
                                <ul class="pricing-body-list pricing-body-list-two">
                                    <li>CPU <span>(1 Core)</span></li>
                                    <li>Bandwidth <span>(100 GB)</span></li>
                                    <li>Website <span>(1)</span></li>
                                    <li>RAM <span>(1 GB)</span></li>
                                    <li>Setup <span>(Paid)</span></li>
                                    <li>Setup Two <span>(Free)</span></li>
                                    <li>Disk Space <span>(100 GB)</span></li>
                                    <li>IP <span>(Upto 1)</span></li>
                                    <li>IP Two<span>(Upto 1)</span></li>
                                </ul>
                                <a href="/users/sign_up" class="btn btn-gradient">Buy Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3">
                        <div class="pricing-item pricing-item-two">
                            <div class="pricing-secondary-header">
                                <div class="pricing-header-title">
                                    <h3 class="pricing-header-title-text">Starter</h3>
                                    <p>Great for startups and small businesses looking for more power and scalability as they grow.</p>
                                </div>
                                <div class="pricing-item-amount">
                                    <p>Starting at</p>
                                    <h4 class="pricing-item-amount-number"><small>$</small>13.99<span>/Month</span></h4>
                                </div>
                            </div>
                            <div class="pricing-item-body">
                                <ul class="pricing-body-list pricing-body-list-two">
                                    <li>CPU <span>(2 Cores)</span></li>
                                    <li>Bandwidth <span>(500 GB)</span></li>
                                    <li>Website <span>(2)</span></li>
                                    <li>RAM <span>(2 GB)</span></li>
                                    <li>Setup <span>(Paid)</span></li>
                                    <li>Setup Two <span>(Free)</span></li>
                                    <li>Disk Space <span>(450 GB)</span></li>
                                    <li>IP <span>(Upto 3)</span></li>
                                    <li>IP Two<span>(Upto 2)</span></li>
                                </ul>
                                <a href="/users/sign_up" class="btn btn-gradient">Buy Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3">
                        <div class="pricing-item pricing-item-two">
                            <div class="pricing-secondary-header">
                                <div class="pricing-header-title">
                                    <h3 class="pricing-header-title-text">Enterprise</h3>
                                    <p>Designed for high-traffic sites and demanding applications that require robust resources and uptime.</p>
                                </div>
                                <div class="pricing-item-amount">
                                    <p>Starting at</p>
                                    <h4 class="pricing-item-amount-number"><small>$</small>30.99<span>/Month</span></h4>
                                </div>
                            </div>
                            <div class="pricing-item-body">
                                <ul class="pricing-body-list pricing-body-list-two">
                                    <li>CPU <span>(3 Cores)</span></li>
                                    <li>Bandwidth <span>(1000 GB)</span></li>
                                    <li>Website <span>(5)</span></li>
                                    <li>RAM <span>(5 GB)</span></li>
                                    <li>Setup <span>(Paid)</span></li>
                                    <li>Setup Two <span>(Free)</span></li>
                                    <li>Disk Space <span>(500 GB)</span></li>
                                    <li>IP <span>(Upto 6)</span></li>
                                    <li>IP Two<span>(Upto 5)</span></li>
                                </ul>
                                <a href="/users/sign_up" class="btn btn-gradient">Buy Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3">
                        <div class="pricing-item pricing-item-two">
                            <div class="pricing-secondary-header">
                                <div class="pricing-header-title">
                                    <h3 class="pricing-header-title-text">Business</h3>
                                    <p>Best for established businesses and agencies that need maximum performance and reliability.</p>
                                </div>
                                <div class="pricing-item-amount">
                                    <p>Starting at</p>
                                    <h4 class="pricing-item-amount-number"><small>$</small>40.39<span>/Month</span></h4>
                                </div>
                            </div>
                            <div class="pricing-item-body">
                                <ul class="pricing-body-list pricing-body-list-two">
                                    <li>CPU <span>(5 Cores)</span></li>
                                    <li>Bandwidth <span>(2000 GB)</span></li>
                                    <li>Website <span>(10)</span></li>
                                    <li>RAM <span>(16 GB)</span></li>
                                    <li>Setup <span>(Free)</span></li>
                                    <li>Setup Two <span>(Free)</span></li>
                                    <li>Disk Space <span>(600 GB)</span></li>
                                    <li>IP <span>(Upto 10)</span></li>
                                    <li>IP Two<span>(Upto 58)</span></li>
                                </ul>
                                <a href="/users/sign_up" class="btn btn-gradient">Buy Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- .end pricing-section -->
        <!-- choose-section -->
        <section class="choose-section pt-100 pb-70 blue-gradient-with-opacity">
            <div class="container">
                <div class="section-title section-title-two">
                    <small>Why best</small>
                    <h2>Why choose us</h2>
                    <p>Choose ODV Cloud for VPS hosting and experience dedicated resources, 24/7 expert support, and advanced security. We make it easy to scale your business and keep your data protected.</p>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-4">
                        <div class="box-card fluid-height">
                            <div class="box-card-inner box-card-inner-2 box-card-white-hover full-height border-around">
                                <div class="box-number"><span>01</span></div>
                                <div class="box-card-content text-center">
                                    <div class="box-card-thumb">
                                        <%= image_tag('choose-1.png', alt: 'choose-us') %>
                                    </div>
                                    <div class="box-card-details">
                                        <h3>Dedicated support</h3>
                                        <p>Our expert team is available around the clock to assist you with setup, troubleshooting, and optimization—so your business never stops.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-4">
                        <div class="box-card fluid-height">
                            <div class="box-card-inner box-card-inner-2 box-card-white-hover full-height border-around">
                                <div class="box-number"><span>02</span></div>
                                <div class="box-card-content text-center">
                                    <div class="box-card-thumb">
                                        <%= image_tag('choose-2.png', alt: 'choose-us') %>
                                    </div>
                                    <div class="box-card-details">
                                        <h3>Data security</h3>
                                        <p>We use advanced firewalls, DDoS protection, and regular monitoring to keep your data and applications safe from threats.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-4 offset-md-3 offset-lg-0">
                        <div class="box-card fluid-height">
                            <div class="box-card-inner box-card-inner-2 box-card-white-hover full-height border-around">
                                <div class="box-number"><span>03</span></div>
                                <div class="box-card-content text-center">
                                    <div class="box-card-thumb">
                                        <%= image_tag('choose-3.png', alt: 'choose-us') %>
                                    </div>
                                    <div class="box-card-details">
                                        <h3>Data migration</h3>
                                        <p>Seamlessly migrate your existing website or application to our VPS platform with zero downtime and expert assistance every step of the way.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- .end choose-section -->
        <!-- feature-section -->
        <section class="feature-section pt-100 pb-70">
            <div class="container">
                <div class="section-title section-title-two">
                    <small>We offers</small>
                    <h2>Hosting features</h2>
                    <p>Discover the powerful features of ODV Cloud's VPS hosting—customize your environment, scale resources instantly, and enjoy full root access for ultimate flexibility.</p>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-lg-6">
                        <div class="feature-item feature-item-2 fluid-height">
                            <div class="feature-item-inner full-height bg-white">
                                <div class="feature-item-thumb feature-item-thumb-round bg-off-hard-gradient">
                                    <%= image_tag('feature-icon-1.png', alt: 'cloud') %>
                                </div>
                                <div class="feature-item-content">
                                    <h3>Personalized Email Service</h3>
                                    <p>Create custom email addresses for your domain, giving your business a professional edge and secure communications.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-6">
                        <div class="feature-item feature-item-2 fluid-height">
                            <div class="feature-item-inner full-height bg-white">
                                <div class="feature-item-thumb feature-item-thumb-round bg-off-hard-gradient">
                                    <%= image_tag('feature-icon-2.png', alt: 'cloud') %>
                                </div>
                                <div class="feature-item-content">
                                    <h3>WordPress & cPanel</h3>
                                    <p>Install WordPress with a single click and manage your server easily with the industry-leading cPanel dashboard.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-6">
                        <div class="feature-item feature-item-2 fluid-height">
                            <div class="feature-item-inner full-height bg-white">
                                <div class="feature-item-thumb feature-item-thumb-round bg-off-hard-gradient">
                                    <%= image_tag('feature-icon-3.png', alt: 'cloud') %>
                                </div>
                                <div class="feature-item-content">
                                    <h3>Free SSL Certificates</h3>
                                    <p>Protect your site and your visitors with free SSL certificates included in every VPS hosting plan.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-6">
                        <div class="feature-item feature-item-2 fluid-height">
                            <div class="feature-item-inner full-height bg-white">
                                <div class="feature-item-thumb feature-item-thumb-round bg-off-hard-gradient">
                                    <%= image_tag('feature-icon-4.png', alt: 'cloud') %>
                                </div>
                                <div class="feature-item-content">
                                    <h3>LiteSpeed Web Server</h3>
                                    <p>Experience lightning-fast website performance and reliability with LiteSpeed technology.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-6">
                        <div class="feature-item feature-item-2 fluid-height">
                            <div class="feature-item-inner full-height bg-white">
                                <div class="feature-item-thumb feature-item-thumb-round bg-off-hard-gradient">
                                    <%= image_tag('feature-icon-5.png', alt: 'cloud') %>
                                </div>
                                <div class="feature-item-content">
                                    <h3>PHP Selector</h3>
                                    <p>Choose the PHP version that best fits your application for optimal compatibility and performance.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-6">
                        <div class="feature-item feature-item-2 fluid-height">
                            <div class="feature-item-inner full-height bg-white">
                                <div class="feature-item-thumb feature-item-thumb-round bg-off-hard-gradient">
                                    <%= image_tag('feature-icon-6.png', alt: 'cloud') %>
                                </div>
                                <div class="feature-item-content">
                                    <h3>No Multi-Tenancy</h3>
                                    <p>Enjoy a secure, stable environment—your resources are never shared with unknown users, ensuring consistent performance.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- .end feature-section -->
        <!-- testimonial-section -->
        <section class="testimonial-section pt-100 blue-gradient-with-opacity">
            <div class="container">
                <div class="section-title section-title-two">
                    <small>Testimonials</small>
                    <h2>What clients are saying</h2>
                </div>
                <div class="client-carousel-content">
                    <div class="client-carousel owl-carousel owl-theme">
                        <div class="item">
                            <div class="row align-items-end">
                                <div class="col-sm-12 col-md-12 col-lg-5">
                                    <div class="client-image">
                                        <%= image_tag('slider-1.png', alt: 'client') %>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-6 pb-100">
                                    <div class="client-carousel-details text-center text-lg-start">
                                        <p class="client-carousel-para">ODV Cloud's VPS hosting gave us the flexibility and performance we needed to scale our business. The support team is knowledgeable and always available!</p>
                                        <h3 class="client-carousel-name">Devit m. kotlin</h3>
                                        <h4 class="client-carousel-designation">CEO & Founder</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row align-items-end">
                                <div class="col-sm-12 col-md-12 col-lg-5">
                                    <div class="client-image">
                                        <%= image_tag('slider-2.png', alt: 'client') %>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-6 pb-100">
                                    <div class="client-carousel-details text-center text-lg-start">
                                        <p class="client-carousel-para">Migrating to ODV Cloud's VPS was seamless. Our website runs faster, and we have full control over our environment.</p>
                                        <h3 class="client-carousel-name">Alexa Disuza</h3>
                                        <h4 class="client-carousel-designation">CTO & Manager</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- .end testimonial-section -->
        <!-- faq-section -->
        <section class="faq-section pt-100 pb-70">
            <div class="container">
                <div class="section-title section-title-two">
                    <h2>What Would You Like To Know?</h2>
                </div>
                <div class="row align-items-center">
                    <div class="col-sm-12 col-md-12 col-lg-5 pb-30">
                        <div class="faq-accordion">
                            <!-- item goes here -->
                            <div class="faq-accordion-item faq-accordion-item-active"> <!-- Use "faq-accordion-item-active" class for toggle accordion -->
                                <div class="faq-accordion-header">
                                    <h3 class="faq-accordion-title">What Is Dedicated Hosting?</h3>
                                </div>
                                <div class="faq-accordion-body">
                                    <div class="faq-accordion-body-inner">
                                        <p class="faq-accordion-para">Dedicated hosting provides you with an entire server for your exclusive use, offering maximum performance, security, and customization options for your applications.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="faq-accordion-item">
                                <div class="faq-accordion-header">
                                    <h3 class="faq-accordion-title">Does the price grow up with sharing?</h3>
                                    <div class="faq-accordion-header-overlay"></div>
                                </div>
                                <div class="faq-accordion-body">
                                    <div class="faq-accordion-body-inner">
                                        <p class="faq-accordion-para">With VPS hosting, your price is based on the resources you select. You get dedicated resources, so your performance is never affected by other users.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="faq-accordion-item">
                                <div class="faq-accordion-header">
                                    <h3 class="faq-accordion-title">What access do I have on a free trial?</h3>
                                    <div class="faq-accordion-header-overlay"></div>
                                </div>
                                <div class="faq-accordion-body">
                                    <div class="faq-accordion-body-inner">
                                        <p class="faq-accordion-para">During a free trial, you have full access to all VPS features, including root access, so you can test performance, security, and management tools before committing.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="faq-accordion-item">
                                <div class="faq-accordion-header">
                                    <h3 class="faq-accordion-title">What access do I have on the free plan?</h3>
                                    <div class="faq-accordion-header-overlay"></div>
                                </div>
                                <div class="faq-accordion-body">
                                    <div class="faq-accordion-body-inner">
                                        <p class="faq-accordion-para">On the free plan, you can explore the VPS dashboard, manage basic settings, and experience our support, but some advanced features may be limited.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-6 offset-lg-1 pb-30">
                        <div class="about-content-image">
                            <%= image_tag('faq.png', alt: 'faq') %>
                        </div>
                    </div>
                </div>
            </div>
        </section>